:root{
    --orange-color: #DA722C;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --light-color: #E8F7FB;
    --light-blue-color: #6F7DFB;
} 

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    max-width: 1134px;
    margin: 0 auto;
}

/* Buttons */

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.dark {
    background-color: var(--dark-blue-color);
}

.btn.light {
    background-color: var(--orange-color);
}

.btn.enrol-icon::before{
    content: url(/images/enrol-icon.svg);
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enrol-icon{
    padding-left: 60px;
}



/* Header Section Start */
header{
    background: linear-gradient(180deg, #6F7DFB, #26308C 100%);
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 36px;
    z-index: 100;
}

nav .logo{
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}

nav ul a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

/* header Section Ends */

/* Hero Section */
.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.hero-section .left h1{
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #fff;
}

.hero-section .left p{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
    margin-bottom: 30px;
    width: 457px;
}

.hero-section .left{
    flex: 1;

}

.hero-section .right{
    align-self: flex-end;
}

.hero-section .right img{
    height: 520px;
    vertical-align: middle;
}

/* Achievment-cards */

.achievment-card{
    position: absolute;
    min-width: 200px;
}

.achievment-card .content{
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
}

.achievment-card.students-enrolled{
    left: 49%;
    top: 270px;
}

.achievment-card h3{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-blue-color);
    margin: 0;
    text-align: center;
    width: 100%;
}

.achievment-card p{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--dark-blue-color);
    margin-top: -8px;
    margin-bottom: 8px;
}

.achievment-card .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;

}

.achievment-card.overall-rating{
    left: 47%;
    top: 470px;
    min-width: 200px;
}

.achievment-card .content div{
    display: flex;
    align-items: center;
    gap: 12px;
}